<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cordell's Blog</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class = "postBox">
    <div id = "title"><P>Title: </P><input></div>
    <div id = "content"><p>Content: </p><input></div>
    <div id = "image"><p>Image: </p><input>
    <form>
        <input type="file" id ="myFile">
        <input type = "submit">
    </form></div>
    <div id = "createPost"><p>POST</p></div>
  </div>   
</body>
</html>